        * {
            box-sizing: border-box;
        }

		.row{
			margin:0;
			display:block;
		}
		
		
		
		.contentDiv{
			margin:30px;
		}
		
		
		.rowflex{
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;
			white-space:normal;
			overflow:hidden;
		}

        

        .row::after {
            content: "";
            clear: both;
            display: table;
            margin: 5px;
        }

        [class*="col-"] {
            float: left;
            padding: 10px;
        }




        #logoName {
            display: inline;
            float: left;
            margin-left: 10px;
        }

        .nav {
            background-color: #333;
            width: 100%;
        }

        .nav > span {
            float: left;
        }

        .nav ul {
            float: right;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
		
		.fixed {
			position: fixed;
			top: 0
		} 

        .nav li a {
            display: block;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 16px;
            text-decoration: none;
            text-align: center;
        }

        .nav li {
            float: left;
			cursor:pointer;
        }

        .navbar li a.active:not(.btn-b) {
            color: black;
            border-top: solid 2px;
        }

        .navbar li a:hover:not(.active):not(.btn-b) {
            color: black;
            border-top: solid 2px;
        }

        .navbar li a[class="btn-b"]:hover {
            color: black;
            border:solid 2px #0080FF;
        }


        #


        




        .img-about {
            box-shadow: 0px 0px 79px rgba(0, 0, 0, 1);
            padding: 15px;
            background: #87CEFA;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        #About ul > li > p {
            font-size: 18px;
            line-height: 40px;
            font-weight: 700;
            min-width: 99px;
            display: inline-block;
            margin: 0;
        }

        #About p {
            line-height: 30px;
        }

        .btna a {
            background-color: #dee2e6;
            font-weight: 400;
            display: inline-block;
            padding: 15px;
            border-radius: 30px;
            font-size: 1.4rem;
            margin-top: 20px;
            text-decoration: none;
        }

        .btna a:hover {
            color: white;
            border-top: solid 2px;
        }

        .txtColor {
            /* color: #0080FF; */
			color:black;
        }


        .col {
            border: 1px solid black;
            padding: 5px;
			text-align:center;
        }
		.col-skills {
            /* border: 1px solid black; */
            padding: 5px;
			text-align:center;
        }
		
		.no-padding{
			padding-top:0;
			padding-bottom:0;
		}
		
		.div-padding{
			padding-top:30px;
		}
		
		.icon-size{
			font-size:40px;
		}



        .lineCard {
            /* background-color: #0080FF; */
			background-color: black;
            height: 2px;
            margin-left: 70px;
            margin-right: 70px;
        }



        .contact-info {
            text-align: center;
            margin: 20px;
        }

        .contact-info i {
            border: 3px solid black;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			line-height: 50px;
        }
        
        input, textarea {
            width: 100%;
            height: 50px;
            padding: 10px;
            /* border: 1px solid #0080FF; */
			 border: 1px solid black;
            outline: none;
        }

        textarea {
            height: 120px;
        }

        .text_center {
            text-align: center;
        }

        .divBorder {
            border-left: solid 1px;
        }

		.mdb-color.lighten-3{background-color:#f8f9fa!important;}
		footer.page-footer{
			color:black!important;
		}
		footer.page-footer a{
			color:black!important;
		}
		/* .mdb-color{background-color:black !important;} */

        .btn-b {
            background-color: lightgray;
            border: solid 2px #0080ff;
            border-radius: 30px;
            display: -webkit-inline-box;
            margin: 5px;
        }

        .btn-b a:hover {
            color: white;
        }

        .progressbar{
            background-color:whitesmoke;
            padding:3px;
            border-radius:13px;
        }

        .progressbar > div{
            background-color:#b6bbc0;
            /* height:15px; */
            border-radius:10px;
            color:black;
            font-size:9px;
        }

        .alignLeft{
            text-align:left;
            margin-left:10px;
        }